@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'NanumSquareRound';
    box-sizing: border-box;
}

html{
    font-size: 16px;
  }

body{
    margin: 0;
    height: 100vh;
    min-width: 300px;
}