.container{
    margin-left: 70px;
}

.user_pic{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: skyblue;
    background-size: 100% 100%;
    margin-right: 10px;
}

.friends_menu{
    font-size: 0.9em;
    margin: 10px 15px;
    border-top: 1px solid #aeaeae;
    padding-top: 15px;
}

.friends_menu_header{
    color: #aeaeae;
}
