.header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 12px;
    background-color: #ffffff;
    z-index: 1;
}

.header > *{
    line-height: 36px;
}
.header_menu > span{
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 18px;
}

.header_menu > span:hover{
    background-color: gray;
}

.header_title{
    margin: 0;
}

