.nav_list{
    list-style-type: none;
    height: 100%;
    width: 70px;
    margin: 0;
    padding: 0;
    background-color: pink;
    position: fixed;
    z-index: 2;
}
.nav_list > .nav_btn:first-child{
    margin-top: 50px;
}

.nav_list > .nav_btn > a{
    display: block;
    color: black;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
}

.nav_list > .nav_btn > a.active{
    color: black;
}

.nav_list > .nav_btn > a:not(.active){
    color: gray;
}

.nav_list > .nav_btn > a:not(.active):hover{
    color: beige;
}